
body {
	--hue: 700;
	--sat: 60;
	--lit: 50;
	
	
    
	--main: hsl(
		var(--hue), 
		calc(var(--sat) * 1%), 
		calc(var(--lit) * 1%)
	);

	
	--saturation: calc(var(--sat) - 20);
    --lightness-one: calc(var(--lit) - 20);
	--accent-one: hsl(
		var(--hue), 
		calc(var(--saturation) * 1%), 
		calc(var(--lightness-one) * 1%)
	);
	
	
	--lightness: calc(var(--lit) + 40);
	--accent-two: hsl(
		var(--hue), 
		calc(var(--sat) * 1%), 
		calc(var(--lightness) * 1%)
	);
    
    
    --accent-three: hsl(
		var(--hue), 
		calc(var(--sat) * 1%), 
		calc(var(--lit) * 1%)
	); 
			
    
        --accent-four: hsl(
		var(--hue), 
		calc(var(--sat) * 2%), 
		calc(var(--lit) * 5%)
	); 
}




.result {
    border: 3px solid gray;
    border-radius:30px;
    padding: 0.5em;
    margin: 1em;
    background-color: var(--accent-two);
}

#search1 {
    border: 20px solid /*pink*/;
    border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
    border-image-slice: 20 22;
    border-image-repeat: round;
    width: 20%;
    position: relative;
    left: 37%;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 1.5em;
    

}

.result-title {
    font-size: 25px;
    font-weight: bold;
}

#main {
    text-align: center;
    /*color: gray;*/
    color: var(--accent-one);
    font-size: 20px;
    line-height: 2;

    
    
}

.result-time {
    /*color: blue;*/
    color: var(--accent-three);
}

.result-location {
    /*color: lightcoral;*/
    color: var(--accent-one);
}

.result-duration {
    /*color: darkgreen;*/
    color: var(--accent-three);
    font-size: 0.9em;
}

#query {
    font-size: 1.2em;
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: var(--accent-two);
}

#submit {
    font-size: 15px;
    border: 4em;
    padding: 0.5em;
    margin: 0.25em;
    border: 2px solid black;
    background-color: var(--accent-three);
    color:white;
}